# Mondo code owners (Guardians of the main branch)

# Removed @cmungall to stop him being added to all PRs
# *       @sabrinatoro
*.sparql @ptgolden @matentzn
*.py	  @ptgolden @matentzn
*.md    @sabrinatoro @twhetzel @nicolevasilevsky
Makefile @matentzn @ptgolden
mondo.Makefile @matentzn @ptgolden

docs/*  action@github.com 
docs/*  actions-user
