# Mondo code owners (Guardians of the main branch)

# Removed @cmungall to stop him being added to all PRs
*       @nicolevasilevsky 
*.sparql @matentzn
*.py	  @joeflack4

docs/*  action@github.com 
docs/*  actions-user
