target/
*.tmp
*.tmp.ttl
src/ontology/mirror
src/ontology/mirror/*
src/ontology/tbn.obo
src/ontology/tbn.owl
src/ontology/imports/*_newterms.txt
src/ontology/compare/
semantic.cache
venv
*.old
*.qlf
\#*\#
.\#*
.ipynb_checkpoints
scratch/
unmapped-*
weights-*
