/_site
/.sass-cache
.plhistory
.sparqlprog_history
.idea
.token
/subsets/mondo-minimal.*
/mondo-base.*
/mondo.*
imports/*.json
target/
*.tmp
*.tmp.ttl
src/ontology/mirror
src/ontology/mirror/*
src/ontology/tbn.obo
src/ontology/tbn.owl
src/ontology/imports/*_newterms.txt
src/ontology/compare/
semantic.cache
venv
*.old
*.qlf
\#*\#
.\#*
.ipynb_checkpoints
unmapped-*
weights-*
LOG
# for mkdocs' Python virtualenv
env/
_site/
.DS_Store
src/ontology/edit-merged.owl
src/ontology/filtered.obo
src/ontology/filtered.owl
src/ontology/disjoint_sibs.owl
src/ontology/debug.owl
src/ontology/imports/*.json
src/ontology/imports/equivalencies.obo
src/ontology/imports/equivalencies.owl
src/ontology/mondo-edit.owl
src/ontology/mondo-edit.obo-noimports.owl
src/ontology/mondo-base.owl
src/ontology/mondo-base.obo.tmp.obo
src/ontology/mondo-base.obo
src/ontology/mondo-base.json
src/ontology/merged.owl
src/ontology/mondo.json
src/ontology/mondo.obo
src/ontology/mondo.owl
src/ontology/reasoned.owl
src/ontology/reports
src/ontology/test_nomerge
src/ontology/subsets/mondo-minimal.owl.tmp2.owl
src/ontology/subsets/mondo-minimal.owl.tmp.owl
src/ontology/sparql_test_main_obo
src/ontology/sparql_test_main_owl
src/ontology/skos.ttl
src/ontology/sparql_test_edit
src/ontology/roundtrip.obo
src/ontology/all_reports_1
src/ontology/imports/seed.txt
src/ontology/subsets/mondo-minimal.json
src/ontology/subsets/mondo-minimal.obo
src/ontology/subsets/mondo-minimal.owl
src/ontology/.token
src/ontology/mondo-1.obo
src/ontology/mondo-diff.txt
src/ontology/mondo-lastbuild.obo
src/ontology/MondoRelease_2020-09-01.txt
src/ontology/mondo copy.obo
src/dosdp-tools-0.15.1-SNAPSHOT
src/patterns/imports/seed.txt
src/patterns/imports/seed.txt
src/patterns/imports/seed_sorted.txt
src/ontology/mondo-qc.*
src/ontology/tmp/
src/ontology/mondo_current_release.owl
src/ontology/mondo-with-equivalents.*
src/ontology/mondo-edit.obo.tmp.obo
src/ontology/reasoned-plus-equivalents.owl
/mondo-with-equivalents.*
src/ontology/sources/*

src/ontology/mondo-international.json
src/ontology/mondo-international.obo
src/ontology/mondo-international.owl
src/ontology/mondo-simple.json
src/ontology/mondo-simple.obo
src/ontology/mondo-simple.obo.tmp.obo
src/ontology/mondo-simple.owl
src/ontology/mondo-tags-reasoned.owl
src/ontology/mondo_edges.tsv
src/ontology/mondo_nodes.tsv
src/ontology/NORM.norm
src/ontology/subsets/mondo-clingen.owl
src/ontology/subsets/mondo-clingen_edges.tsv
src/ontology/subsets/mondo-clingen_nodes.tsv
src/ontology/subsets/mondo-rare.owl
src/ontology/subsets/mondo-rare_edges.tsv
src/ontology/subsets/mondo-rare_nodes.tsv
src/ontology/imports/
src/scripts/notebooks/
