# for mkdocs' Python virtualenv
env/
venv

\#*\#
.\#*
.plhistory
.sparqlprog_history
.idea
.token
*.tmp
*.tmp.ttl
*.old
*.qlf
*.norm
.ipynb_checkpoints
.vscode
_site/
.DS_Store
unmapped-*
weights-*
LOG
mondo-tags-reasoned.owl
semantic.cache

/subsets/mondo-minimal.*
/mondo-base.*
/mondo.*
/mondo-with-equivalents.*

imports/*.json
target/

src/dosdp-tools-*

src/ontology/edit-merged.owl
src/ontology/filtered.obo
src/ontology/filtered.owl
src/ontology/disjoint_sibs.owl
src/ontology/debug.owl
src/ontology/imports/*.json
src/ontology/imports/equivalencies.obo
src/ontology/imports/equivalencies.owl
src/ontology/mondo-edit.owl
src/ontology/mondo-edit.obo-noimports.owl
src/ontology/mondo-base.owl
src/ontology/mondo-base.obo.tmp.obo
src/ontology/mondo-base.obo
src/ontology/mondo-base.json
src/ontology/merged.owl
src/ontology/mondo.json
src/ontology/mondo.obo
src/ontology/mondo.owl
src/ontology/reasoned.owl
src/ontology/reports/*
!src/ontology/reports/gard-mondo-mapped-obsoletes.tsv
src/ontology/test_nomerge
src/ontology/subsets/mondo-minimal.owl.tmp2.owl
src/ontology/subsets/mondo-minimal.owl.tmp.owl
src/ontology/sparql_test_main_obo
src/ontology/sparql_test_main_owl
src/ontology/skos.ttl
src/ontology/sparql_test_edit
src/ontology/roundtrip.obo
src/ontology/all_reports_1
src/ontology/imports/seed.txt
src/ontology/subsets/mondo-minimal.json
src/ontology/subsets/mondo-minimal.obo
src/ontology/subsets/mondo-minimal.owl
src/ontology/.token
src/ontology/mondo-1.obo
src/ontology/mondo-diff.txt
src/ontology/mondo-lastbuild.obo
src/ontology/MondoRelease_2020-09-01.txt
src/ontology/mondo copy.obo
src/ontology/sources/*
src/ontology/.cogs
src/ontology/imports/omo_terms.txt
src/ontology/mondo-ncit.owl
src/ontology/tbd/*
src/ontology/mondo-qc.*
src/ontology/tmp/*
!src/ontology/tmp/.keep
src/ontology/mondo_current_release.owl
src/ontology/sources/*.json
src/ontology/sources/*/*.owl
src/ontology/sources/*/*.obo
src/ontology/mondo-with-equivalents.*
src/ontology/mondo-edit.obo.tmp.obo
src/ontology/reasoned-plus-equivalents.owl
src/ontology/mirror
src/ontology/mirror/*
src/ontology/tbn.obo
src/ontology/tbn.owl
src/ontology/imports/*_newterms.txt
src/ontology/compare/
src/ontology/*.db
src/ontology/edit-merged-relation-graph.tsv.gz

src/patterns/imports/seed.txt
src/patterns/imports/seed_sorted.txt

src/scripts/exclusion_reasons.csv
src/ontology/.template.db
src/ontology/mondo-ingest.db
src/ontology/subsets/mondo-rare.owl
subsets/mondo-rare.owl
src/ontology/imports/*_terms_combined.txt
src/ontology/config/obsolete_me.txt
src/ontology/config/filtered_obsolete_me.txt
src/ontology/subsets/*_edges.tsv
src/ontology/subsets/*_nodes.tsv
src/ontology/mondo_nodes.tsv
src/ontology/mondo_edges.tsv
src/ontology/mondo-simple.*
mondo-simple.*
mondo_edges.*
mondo_nodes.*
src/scripts/notebooks/tmp/
src/scripts/notebooks/__pycache__/sssom_pydantic.cpython-311.pyc
