---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/default"; // skin
@import "minimal-mistakes"; // main partials


// Local overrides 

.site-logo img {
    max-height: 3rem;
  }

  html {
    /* apply a natural box layout model to all elements */
    box-sizing: border-box;
    background-color: $background-color;
    font-size: 16px;
  
    @include breakpoint($medium) {
      font-size: 18px;
    }
  
    @include breakpoint($large) {
      font-size: 20px;
    }
  
    @include breakpoint($x-large) {
      font-size: 20px;
    }
  
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }