name: Create new pull request

on:
  workflow_dispatch:
  issues:
    types: [ opened, edited ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.9"]
        os: [ ubuntu-latest ]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Return issue number
        id: gh-script-issue
        uses: actions/github-script@v6.1.1
        with:
          # github-token: ${{ secrets.GH_TOKEN }}
          script: |
            const issue_number = context.issue.number
            const repo = context.repo.owner+"/"+context.repo.repo
            return issue_number
      
      - name: Return repository name
        id: gh-script-repo
        uses: actions/github-script@v6.1.1
        with:
          # github-token: ${{ secrets.GH_TOKEN }}
          script: |
            const repo = context.repo.owner+"/"+context.repo.repo
            return repo

      - name: Set branch name
        id: vars
        run: |
          echo "resource=src/ontology/mondo-edit.obo" >> $GITHUB_ENV
          echo "branch-name=ochange_automation_"${{ steps.gh-script-issue.outputs.result }} >> $GITHUB_ENV
      
      #----------------------------------------------
      #          install & configure poetry
      #----------------------------------------------
      - name: Install Poetry
        uses: snok/install-poetry@v1.3
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true

      #----------------------------------------------
      # install dependencies if cache does not exist 
      #----------------------------------------------
      - name: Install dependencies
        run: |
          poetry install --no-interaction --no-root

      - name: Run ochange
        id: ochange
        run: |
          echo ${{ secrets.GH_TOKEN }} >> /home/runner/work/mondo/mondo/.venv/lib/python3.9/site-packages/ontobot_change_agent/token.txt
          poetry run ochange process-issue ${{ env.resource }} \
          -r ${{ steps.gh-script-repo.outputs.result }} \
          -n ${{ steps.gh-script-issue.outputs.result }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4.1.3
        with:
          branch-suffix: short-commit-hash
          labels: Automated
          body: ${{ steps.ochange.outputs.PR_BODY }}
          title: ${{ steps.ochange.outputs.PR_TITLE }}
          base: ${{ github.head_ref }}
          branch: ${{ env.branch-name }}